/* Declaração de fonte  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat {
    font-family: "Montserrat", sans-serif;
  }


/* Configuração Global  */
* {
    margin: 0;
    padding: 0;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    text-decoration: none;
  }
  
/* Configuração NavBar  */

.logo{
  background: linear-gradient(90deg, rgba(104, 221, 189, 1) 0%, rgba(3, 133, 84, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  
}

a.logo{
  align-items: center;
}

.line{
  border-right: 2px solid rgba(255, 255, 255,0.75);
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.typing-animation{
  animation: blinkCursor 500ms steps(40) infinite normal, typing 3s steps(30) 1s normal both;
}

@keyframes typing{
  from{
      width: 0;
  }
  to{
      width: 13rem;
  }
}

@keyframes blinkCursor{
  from{
      border-right-color:rgba(255, 255, 255,0.75);
  }
  to{
      border-right-color: transparent;
  }
}


nav{
  display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Montserrat, system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #171717;
    height: 8vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
  letter-spacing: 3px;
    margin-left: 32px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.border-contato{
  border-radius:1.5rem ;
  background: linear-gradient(90deg, rgba(104, 221, 189, 1) 0%, rgba(3, 133, 84, 1) 100%);
  color: var(--white);
}

nav a:hover{
  opacity: 0.7;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background:rgba(5, 5, 5, 0.35);
  box-shadow: 0 8px 32px 0 rgba(104, 221, 189, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
  margin-top: 3rem;
}
.sidebar a{
  width: 100%;
}

.sidebar a:hover{
  opacity: 0.7;

}

.border-contato:hover{
  opacity: 0.7;
}

.menu-button{
  display: none;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media(max-width: 800px){
  .hideOnMobile{
    display: none;
    padding: 3rem;
  }
  .menu-button{
    display: block;
  }
  .mobile-menu {
    display: block;
  }
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}

/* Configuração Body  */

/* Configuração Corpo geral do site  */

body{
    color: white;
    background-color: #101010;
    
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}

.home-text .text-h1{
    font-size: 2.8rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text .text-h1 .titulo{
  font-size: 2.8rem;
  margin-bottom: 1rem;
  line-height: 4rem;
  background: linear-gradient(90deg, rgba(104, 221, 189, 1) 0%, rgba(3, 133, 84, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.home-text p{
    margin-bottom: 4rem;
}
.home-btn{
    padding: 15px 45px;
    background: linear-gradient(90deg, rgba(104, 221, 189, 1) 0%, rgba(3, 133, 84, 1) 100%);
    color: var(--white);
    border-radius: 1.5rem;
    font-weight: 700;
    transition: all 0.5s;
}
.home-btn:hover{
    background: linear-gradient(90deg, rgba(104, 221, 189, 1) 0%, rgba(3, 133, 84, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid rgba(255, 255, 255,0.75);
}
.home-img img{
    width: 100%;
    padding: 0.5rem;
}
@media (max-width:800px) {
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 100%;
    }
}


/* ESTILO DO SOBRE */
.titulo-sobre{
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 4rem;
  background: linear-gradient(90deg, rgba(104, 221, 189, 1) 0%, rgba(3, 133, 84, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  
}


.flex {
  display: flex;
  padding: 0px 10%;
}

 .primeiro{
  padding-top: 4rem;
}

section.sobre {
  padding: 80px 4%;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}

.flex2 {
  padding-top: 3rem;
}

.sobre .txt-sobre {
  color: #fff;
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  background: linear-gradient(90deg, rgba(104, 221, 189, 1) 0%, rgba(3, 133, 84, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 4px;
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}



.img-sobre img{
  border-radius: 1.5rem;
}

@media(max-width: 800px){

  .flex {
    flex-direction: column;
}

  section.sobre {
    padding: 80px 8%;
}

.sobre .txt-sobre h2 {
    font-size: 34px;
    line-height: 35px;
    text-align: center;
}

.btn-social{
    text-align: center;
}

.img-sobre img{
    width: 100%;
}



}


/* QUEM SOMOS  */

.team{
	/* position: relative; */
	width: 100%;
	height: 100vh;
	background: radial-gradient(#038554,#0f051d);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	color: #fff;
	font-size: 4rem;
	text-align: center;
}

.center h2{
  color: #fff;
	text-align: center;
}
.box{
	padding: 16px;
	/* background: #1b1229; */
  background:rgba(5, 5, 5, 0.35);
  box-shadow: 0 8px 32px 0 rgba(104, 221, 189, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur( 13.5px );
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 800px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;

  }
  .patrocinadores h1{
    font-size: 2rem;
	}
}


/* PATROCINADORES */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: rgba(23, 23, 23, 0);
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(3, 133, 84, 0), #17171700, );
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgb(3, 133, 84, 0), #17171700, );
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

.patrocinadores{
  padding-top: 4rem;
}

.entre-em-contato{
  color: #fff;
	text-align: center;
  margin-bottom: 3rem;
}

.entrecontato{
  margin: 2rem;
}


/* PAGINA DE CONTATO ----- CONTATO.HTML */




.form {
  width: 100%;
  max-width: 32rem;
  font-size: 1.125rem;

  background:rgba(5, 5, 5, 0.35);
  box-shadow: 0 8px 32px 0 rgba(104, 221, 189, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius:1.5rem ;

  padding: 3rem;

  margin-top: 2rem;

}

.form label,
.form input,
.form textarea,
.form button {
  display: block;
  width: 100%;
}

.form label {
  color: #fff;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  font-family: "Montserrat", sans-serif;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius:1.5rem ;
  transition: border-color, box-shadow 0.2s;
}

.form textarea {
  min-height: 13rem;
  resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  outline: none;
  border-color: #03bb85;
  box-shadow: 0 0 0 3px #03bb85;
}

.form button {
  display: block;
  padding: 1rem;
  
  background:rgba(5, 5, 5, 0.35);
  box-shadow: 0 8px 32px 0 rgba(104, 221, 189, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;

  color: #fff;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius:1.5rem ;
  cursor: pointer;
  transition: 0.2s;
}

.form button:hover,
.form button:focus {
  outline: none;
  background: #03bb85;
}

/* PAGINA OBRIGADO.HTML */

.obrigado{
  color: #fff;
	text-align: center;
}

.obrigado{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10%;
}




@media (max-width:800px) {
  /*main*/
  .obrigado{
      padding: 100px 2%;
      flex-direction: column;
      text-align: center;
      overflow: hidden;
      gap: 5rem;
  }

  .obrigado .text-h1{
      font-size: 2.5rem;
      line-height: 3rem;
  }
  .obrigado p{
      font-size: 15px;
  }
}


















/* FOOTER */


footer {
  width: 100%;
  color: #f5f5f5;
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: #171717;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: #f5f5f5;
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  text-align: right;
  
}

.footer-list .footer-link {
  color: #a8a29e;
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  opacity: 0.7;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: #0e0c0c;
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  #footer_content {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem 2rem;
  }
}
