/* Declaração de fonte  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat {
    font-family: "Montserrat", sans-serif;
  }


/* Configuração Global  */
* {
    margin: 0;
    padding: 0;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    text-decoration: none;
  }
  
/* Configuração NavBar  */

.logo{
  background: linear-gradient(90deg, rgba(104, 221, 189, 1) 0%, rgba(3, 133, 84, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  
}

a.logo{
  align-items: center;
}

.line{
  border-right: 2px solid rgba(255, 255, 255,0.75);
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.typing-animation{
  animation: blinkCursor 500ms steps(40) infinite normal, typing 3s steps(30) 1s normal both;
}

@keyframes typing{
  from{
      width: 0;
  }
  to{
      width: 13rem;
  }
}

@keyframes blinkCursor{
  from{
      border-right-color:rgba(255, 255, 255,0.75);
  }
  to{
      border-right-color: transparent;
  }
}


nav{
  display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Montserrat, system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #050505;
    height: 8vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
  letter-spacing: 3px;
    margin-left: 32px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.border-contato{
  border-radius:1.5rem ;
  background: linear-gradient(90deg, rgba(104, 221, 189, 1) 0%, rgba(3, 133, 84, 1) 100%);
  color: var(--white);
}

nav a:hover{
  opacity: 0.7;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background:rgba(5, 5, 5, 0.35);
  backdrop-filter: blur(12px);
  /* box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 8px 32px 0 rgba(104, 221, 189, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
  margin-top: 3rem;
}
.sidebar a{
  width: 100%;
}

.sidebar a:hover{
  opacity: 0.7;

}

.border-contato:hover{
  opacity: 0.7;
}

.menu-button{
  display: none;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media(max-width: 800px){
  .hideOnMobile{
    display: none;
    padding: 3rem;
  }
  .menu-button{
    display: block;
  }
  .mobile-menu {
    display: block;
  }
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}

/* Configuração Body  */

/* Configuração Corpo geral do site  */

body{
    color: white;
    background-color: #101010;
    overflow-x: hidden;
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}

.home-text .text-h1{
    font-size: 2.8rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text .text-h1 .titulo{
  font-size: 2.8rem;
  margin-bottom: 1rem;
  line-height: 4rem;
  background: linear-gradient(90deg, rgba(104, 221, 189, 1) 0%, rgba(3, 133, 84, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.home-text p{
    margin-bottom: 4rem;
}
.home-btn{
    padding: 15px 45px;
    background: linear-gradient(90deg, rgba(104, 221, 189, 1) 0%, rgba(3, 133, 84, 1) 100%);
    color: var(--white);
    border-radius: 1.5rem;
    font-weight: 700;
    transition: all 0.5s;
}
.home-btn:hover{
    background: linear-gradient(90deg, rgba(104, 221, 189, 1) 0%, rgba(3, 133, 84, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid rgba(255, 255, 255,0.75);
}
.home-img img{
    width: 100%;
    padding: 0.5rem;
}
@media (max-width:785px) {
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 100%;
    }
}